@{
    ViewData["Title"] = "─љ─Ѓng nhр║Гp";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-header bg-primary text-white text-center">
                <h4>­ЪїД ─љ─ѓNG NHр║гP Hр╗є THр╗љNG QUр║бN L├Ю Lк»р╗бNG Mк»A KHU Vр╗░C HкаN</h4>
            </div>
            <div class="card-body">
                <form asp-action="Login" method="post">
                    <div class="mb-3">
                        <label class="form-label">User ID</label>
                        <input name="userid" class="form-control" placeholder="admin" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mр║Гt khр║Еu</label>
                        <input type="password" name="matkhau" class="form-control" placeholder="123" required />
                    </div>
                    <button type="submit" class="btn btn-primary w-100">─љ─Ѓng nhр║Гp ­ЪїД</button>
                </form>
            </div>
        </div>
    </div>
</div>